.row{
box-sizing:border-box;
background: red;
width:400px;;
height: 500px;
display: flex;
/* justify-content:center; */
align-items:center;
flex-wrap:wrap;

}
.col1{
  background: pink;
flex-basis: 20%;
}
.col2{
  background: green;

}
.col3{

}
.col7{
  background: grey;

}
