.row{
box-sizing:border-box;
background: red;
width:500px;
height: 500px;
display: flex;
/* justify-content:center; */
align-items:center;
flex-wrap:wrap;

}
.col1{
  background: pink;
  width: 80px;
  height: 50px;
  font-size: 10px;
}
.col2{
  background: green;
  width: 80px;
  height: 50px;
    font-size: 20px;
}
.col3{
  background: blue;
  width: 80px;
  height: 50px;
    font-size:30px;
}
.col7{
  background: grey;
  width: 80px;
  height: 50px;
    font-size:30px;
}
