body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(90deg, #0162c8, #55e7fc);
  height: 600px;
}

#landing {
  margin: 0px 0px 0px 200px;
  position: absolute;
  left: 70px;

}

#home {
  margin-left: 700px;
}

.nav a {
  float: left;
  display: block;
  color: white;
  padding: 20px 10px 20px 10px;
  margin: 0px 0px 150px 0px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

.nav a:hover {
  background: #130C05;
  color: red;
}

#get {
  margin: 10px 0px 0px 20px;
  border: 2px solid white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 0 white;
}

#get:hover {
  border: 2px solid #130C05;
  color: red;
  box-shadow: 2px 2px 0 #11717D;
}

#form {
  height: 300px;
  width: 300px;
  background-color: white;
  display: block;
  clear: both;
  float: right;
  margin: 0px 360px 0px 0px;
  border-radius: 8px;
}

#form:hover {
  box-shadow: 2px 2px 25px #0000CD;
}

#sign {
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#sign:hover{
  color:#6495ED;
}

.gap {
  margin: 10px 0px 0px 45px;
  width: 210px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  letter-spacing: 2px;
  background: #EAF2F9;
  border: 1px solid #CADFF0;
}

.gap:hover{
  border:1px solid #F4A460;
}

#type {
  width: 218px;
  height: 35px;
  padding-left: 80px;
  background: #EAF2F9;
}

button {
  background-color: #10A0EF;
  color: white;
  height: 30px;
  width: 218px;
  margin: 10px 0px 0px 45px;
  border: 2px solid #10A0EF;
  border-radius: 25px;
  letter-spacing: 2px;
}

button:hover {
  background-color: #130C05;
  border: 2px solid #130C05;
  color: red;
}

#fly {
  padding: 200px 0px 0px 300px;
  color: white;
}

#p-1 {
  font-size: 52px;
  font-weight: 400;
  letter-spacing: 1px;
}

#p-2 {
  margin: -30px 0px 30px 0px;
  letter-spacing: 1px;
}

#p-2 a {
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  color: #191970;
}

#p-2 a:hover {
  color: orange;
}

#fly-2 {
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  word-spacing: 1px;
  border: 2px solid white;
  padding: 7px;
  border-radius: 5px;
  box-shadow: 2px 2px 0 white;
  font-size: 18px;
  font-weight: 600;
}

#fly-2:hover {
  background-color: #130C05;
  border: 2px solid #130C05;
  color: red;
  box-shadow: 2px 2px 0 #11717D;
}

/*
.arrow-right {
  border-top: 73px solid transparent;
  border-left: 1350px solid white;
  position: absolute;
  top: 649px;
} */
.arrow-left {
  border-top: 122px solid transparent;
  border-right: 1536px solid white;
  border-left: 0 solid transparent;
  position: absolute;
  top: 600px;
}
.rect{
height: 43px;
background-color: white;
position: relative;
top: 179px;
}
