* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #2F4F4F;
}

.main {
  position: relative;
  top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .calculatorForm {
  position: relative;
  top: 50px;
  width: 350px;
  border: 1px solid #000;
}

.main .calculatorForm div {
  height: 70px;
  width: 100%;
  display: flex;
  flex: 1;
}

.main .calculatorForm div input {
  height: 100%;
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  color: white;
  background-color: #0162c8;
  border: 1px solid #eee;
}

.main .calculatorForm div input:hover {
  color: violet;
}
.la{
  background: url(images\1.jpg);
}
